In [1]:
#sc
from pyspark.sql.functions import initcap ,col,lit, to_date, months_between

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

In [3]:
sc= SparkSession.builder.appName('MyfirstProgram').getOrCreate()

In [4]:
player=sc.read.format('csv').option("header","true").load('player.csv')

In [5]:
player

DataFrame[id: string, player_api_id: string, player_name: string, player_fifa_api_id: string, birthday: string, height: string, weight: string]

In [6]:
player.createOrReplaceTempView("some_sql_view")

In [7]:
player

DataFrame[id: string, player_api_id: string, player_name: string, player_fifa_api_id: string, birthday: string, height: string, weight: string]

In [7]:
sc.read.format('csv').option("header","true").load('player.csv').createOrReplaceTempView("some_sql_view")

In [8]:
player

DataFrame[id: string, player_api_id: string, player_name: string, player_fifa_api_id: string, birthday: string, height: string, weight: string]

In [8]:
spark.sql("""show databases""").show()

+------------+
|databaseName|
+------------+
|     default|
|      monika|
+------------+

In [10]:
spark.sql("""create database Test""")

DataFrame[]

In [11]:
spark.sql("""show databases""").show()

+------------+
|databaseName|
+------------+
|     default|
|      monika|
|        test|
+------------+

In [12]:
player.write.mode("overwrite").saveAsTable("monika.testTable")

In [14]:
#spark.sql("""use monika""").show()
spark.sql("""show tables """).show()
#spark.sql("""drop table some_sql_view""")

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
|  monika|   nested_data|      false|
|  monika|player_replica|      false|
|  monika|     testtable|      false|
|        | some_sql_view|       true|
+--------+--------------+-----------+

In [22]:
spark.sql("""describe extended testtable""")

DataFrame[col_name: string, data_type: string, comment: string]

In [23]:
spark.sql("""show tables """).show()

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
|  monika|   nested_data|      false|
|  monika|player_replica|      false|
|  monika|     testtable|      false|
|        | some_sql_view|       true|
+--------+--------------+-----------+

In [24]:
spark.catalog

In [37]:
spark.sql("""drop table Player_replica""")
spark.sql("""create table Player_replica 
(id string,
player_api_id string,
player_name string,
player_fifa_api_id string,
birthday string,
height string,
weight string
)""")

AnalysisException: 'Table or view not found: Player_replica;'

In [36]:
spark.sql("""drop table Player_replica""")

AnalysisException: 'Table or view not found: Player_replica;'

In [29]:
spark.sql("create table Player_replica (id string,player_api_id string,player_name string,player_fifa_api_id string,birthday string,height string,weight string) USING CSV OPTIONS (path 'player.csv')")

DataFrame[]

In [30]:
spark.sql("""drop table Player_replica""")
spark.sql("""create table Player_replica 
(id string,
player_api_id string,
player_name string,
player_fifa_api_id string,
birthday string COMMENT "remember, the US will be most prevalent",
height string,
weight string
)""")

DataFrame[]

In [32]:
spark.sql("""describe table Player_replica""")

DataFrame[col_name: string, data_type: string, comment: string]

In [39]:
#spark.sql("""drop table Player_replica""")
spark.sql("""create table Player_replica1
(player_api_id string,
player_name string,
player_fifa_api_id string,
birthday string COMMENT "remember, the US will be most prevalent",
height string,
weight string
) """)

DataFrame[]

In [44]:
spark.sql("""EXPLAIN SELECT * FROM Player_replica1""").show()

+--------------------+
|                plan|
+--------------------+
|== Physical Plan ...|
+--------------------+

In [45]:
spark.sql("""describe table Player_replica1""").show()

+------------------+---------+--------------------+
|          col_name|data_type|             comment|
+------------------+---------+--------------------+
|     player_api_id|   string|                null|
|       player_name|   string|                null|
|player_fifa_api_id|   string|                null|
|          birthday|   string|remember, the US ...|
|            height|   string|                null|
|            weight|   string|                null|
+------------------+---------+--------------------+

In [42]:
spark.sql("""SELECT current_database()""").show()

+------------------+
|current_database()|
+------------------+
|            monika|
+------------------+

In [18]:
spark.sql("""select * from Player_replica""").show(1)

+---+-------------+-----------+------------------+--------+------+------+
| id|player_api_id|player_name|player_fifa_api_id|birthday|height|weight|
+---+-------------+-----------+------------------+--------+------+------+
+---+-------------+-----------+------------------+--------+------+------+

In [19]:
spark.sql("""SELECT (player_api_id, player_fifa_api_id) as unique_id 
FROM Player_replica""").show(11)

SHOW FUNCTIONS

+---------+
|unique_id|
+---------+
+---------+

In [22]:
spark.sql("""SHOW FUNCTIONS""").show()

+--------------------+
|            function|
+--------------------+
|                   !|
|                   %|
|                   &|
|                   *|
|                   +|
|                   -|
|                   /|
|                   <|
|                  <=|
|                 <=>|
|                   =|
|                  ==|
|                   >|
|                  >=|
|                   ^|
|                 abs|
|                acos|
|          add_months|
|                 and|
|approx_count_dist...|
+--------------------+
only showing top 20 rows

In [34]:
#spark.sql("""SHOW SYSTEM FUNCTIONS""").show(5)
#spark.sql("""SHOW USER FUNCTIONS""").show(5)
#spark.sql('''SHOW FUNCTIONS "s*"''').show(5)
#spark.sql('''SHOW FUNCTIONS LIKE "collect*"''').show(5)

In [47]:
#spark.sql("""SELECT collect_list(player_api_id) as unique_id FROM Player_replica group by player_api_id""").show(11)

spark.sql("""SELECT (player_api_id, player_fifa_api_id) as unique_id , ARAAY(1,2,3) FROM Player_replica group by player_api_id""").show(11)

AnalysisException: "Undefined function: 'ARAAY'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 1 pos 58"

In [25]:
a=spark.sql("""select * from some_sql_view""").count()

In [9]:
spark.sql("""SELECT DEST_COUNTRY_NAME, sum(count) FROM some_sql_view GROUP BY DEST_COUNTRY_NAME """)\  .where("DEST_COUNTRY_NAME like 'S%'").where("`sum(count)` > 10").count() # SQL => DF

AttributeError: 'NoneType' object has no attribute 'show'

In [32]:
A=spark.sql('''CREATE TABLE flights1 USING CSV OPTIONS (path 'player.csv')''')

In [33]:
A.show(5)

++
||
++
++

In [8]:
player.select(to_date(lit("2019-01-01")).alias("start"),to_date(lit("2017-05-22")).alias("end")).select(months_between(col("start"),col("end"))).show(1)

+--------------------------+
|months_between(start, end)|
+--------------------------+
|               19.32258065|
+--------------------------+
only showing top 1 row

In [6]:
#player.printSchema()

In [7]:
player.schema
#player.show(5)
#player.select('player_name').filter(player_name=='Aaron Doran').collect()

StructType(List(StructField(id,StringType,true),StructField(player_api_id,StringType,true),StructField(player_name,StringType,true),StructField(player_fifa_api_id,StringType,true),StructField(birthday,StringType,true),StructField(height,StringType,true),StructField(weight,StringType,true)))

In [45]:
player.count()

11060

In [8]:
player.show(2)

+---+-------------+------------------+------------------+-------------------+------+------+
| id|player_api_id|       player_name|player_fifa_api_id|           birthday|height|weight|
+---+-------------+------------------+------------------+-------------------+------+------+
|  1|       505942|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|  2|       155782|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
+---+-------------+------------------+------------------+-------------------+------+------+
only showing top 2 rows

In [21]:
player.select(initcap(lit("abc sh  gchs vsd gsh"))).show()

+-----------------------------+
|initcap(abc sh  gchs vsd gsh)|
+-----------------------------+
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
|         Abc Sh  Gchs Vsd Gsh|
+-----------------------------+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import lower, upper
player.select(lit("Hello everyone"),    lower(lit("Hello everyone")),    upper(lit("Hello everyone"))).show(2)

+--------------+---------------------+---------------------+
|Hello everyone|lower(Hello everyone)|upper(Hello everyone)|
+--------------+---------------------+---------------------+
|Hello everyone|       hello everyone|       HELLO EVERYONE|
|Hello everyone|       hello everyone|       HELLO EVERYONE|
+--------------+---------------------+---------------------+
only showing top 2 rows

In [74]:
#player.select('id','player_api_id','player_name','height').show(5)
players=player.drop('id','player_fifa_api_id')
players.show(5)

+-------------+------------------+-------------------+------+------+
|player_api_id|       player_name|           birthday|height|weight|
+-------------+------------------+-------------------+------+------+
|       505942|Aaron Appindangoye|1992-02-29 00:00:00|182.88|   187|
|       155782|   Aaron Cresswell|1989-12-15 00:00:00|170.18|   146|
|       162549|       Aaron Doran|1991-05-13 00:00:00|170.18|   163|
|        30572|     Aaron Galindo|1982-05-08 00:00:00|182.88|   198|
|        23780|      Aaron Hughes|1979-11-08 00:00:00|182.88|   154|
+-------------+------------------+-------------------+------+------+
only showing top 5 rows

In [30]:
from pyspark.sql.functions import lit, ltrim, rtrim, rpad, lpad, trim 
player.select(lit("    HELLO    ").alias("ltrim"),\
              ltrim(lit("    HELLO    ")).alias("ltrim"),\
              rtrim(lit("    HELLO    ")).alias("rtrim"),\
              trim(lit("    HELLO    ")).alias("trim"),\
              lpad(lit("HELLO"), 3, " ").alias("lp"),\
              rpad(lit("HELLO"), 10, " ").alias("rp")).show(2)

+-------------+---------+---------+-----+---+----------+
|        ltrim|    ltrim|    rtrim| trim| lp|        rp|
+-------------+---------+---------+-----+---+----------+
|    HELLO    |HELLO    |    HELLO|HELLO|HEL|HELLO     |
|    HELLO    |HELLO    |    HELLO|HELLO|HEL|HELLO     |
+-------------+---------+---------+-----+---+----------+
only showing top 2 rows

In [82]:
#player_attributes=sc.read.format('csv').option("header","true").load('player_attributes.csv')
#player_attributes.select('id','player_api_id','potential').show(1)
#player_att=player_attributes.drop('id','player_fifa_api_id','preferred_foot','attacking_work_rate','attacking_work_rate','crossing','jumping','sprint_speed','balance','aggression','interceptions','short_passing','potential')
#player_att.printSchema()

In [103]:
#player_attributes.printSchema()  
#player_attributes.columns

In [79]:
#players
#pop= player.join(player_attributes,player.player_api_id==player_attributes.player_api_id )

DataFrame[player_api_id: string, player_name: string, birthday: string, height: string, weight: string]

In [115]:
#year_extract_date= udf(lambda data:date.split('-')[0])
#player_attributes=player_attributes.withColumn('year',year_extract_date(player_attributes.date))

In [1]:
#player_attributes.columns

#player_att.columns
#player_att.withColumnRenamed('year','year')

In [10]:
#player_2016=player_attributes.filter(player_attributes.year==2016)
player_attributes.select(player_2016.player_api_id).distinct().count()

In [ ]:
players_att_join= players.join(player_att, players)

In [4]:
player.columns

['id',
 'player_api_id',
 'player_name',
 'player_fifa_api_id',
 'birthday',
 'height',
 'weight']

In [8]:
player=player.drop('player_fifa_api_id')
player.select('player_api_id').show(5)

+-------------+
|player_api_id|
+-------------+
|       505942|
|       155782|
|       162549|
|        30572|
|        23780|
+-------------+
only showing top 5 rows

In [46]:
player.schema

StructType(List(StructField(id,StringType,true),StructField(player_api_id,StringType,true),StructField(player_name,StringType,true),StructField(player_fifa_api_id,StringType,true),StructField(birthday,StringType,true),StructField(height,StringType,true),StructField(weight,StringType,true)))

In [50]:
spark.sql("""create table Player_replica2
(id string,
player_api_id string,
player_name string,
player_fifa_api_id string,
birthday string,
height string,
weight string
)""")

DataFrame[]

In [54]:
sc.read.format('csv').option("header","true").load('sales.csv').createOrReplaceTempView("sales")

In [60]:
spark.sql("""select SalesId,SalesRegion, sum(SalesVolume) from sales GROUP BY CUBE(SalesId,SalesRegion)""").show(10)

+-------+-----------+--------------------------------+
|SalesId|SalesRegion|sum(CAST(SalesVolume AS DOUBLE))|
+-------+-----------+--------------------------------+
|   S001|       East|                          9000.0|
|   S001|       West|                          8000.0|
|   S002|       null|                         10540.0|
|   null|       null|                         27540.0|
|   S002|       West|                          8340.0|
|   null|       West|                         16340.0|
|   null|       East|                         11200.0|
|   S002|       East|                          2200.0|
|   S001|       null|                         17000.0|
+-------+-----------+--------------------------------+

In [58]:
spark.sql("""select SalesId,SalesRegion, sum(SalesVolume) from sales GROUP BY rollup(SalesId,SalesRegion)""").show(10)

+-------+-----------+--------------------------------+
|SalesId|SalesRegion|sum(CAST(SalesVolume AS DOUBLE))|
+-------+-----------+--------------------------------+
|   S001|       East|                          9000.0|
|   S001|       West|                          8000.0|
|   S002|       null|                         10540.0|
|   null|       null|                         27540.0|
|   S002|       West|                          8340.0|
|   S002|       East|                          2200.0|
|   S001|       null|                         17000.0|
+-------+-----------+--------------------------------+

In [59]:
spark.sql("""select SalesId, sum(SalesVolume) from sales GROUP BY CUBE(SalesId,SalesRegion)""").show(10)

+-------+--------------------------------+
|SalesId|sum(CAST(SalesVolume AS DOUBLE))|
+-------+--------------------------------+
|   S001|                          9000.0|
|   S001|                          8000.0|
|   S002|                         10540.0|
|   null|                         27540.0|
|   S002|                          8340.0|
|   null|                         16340.0|
|   null|                         11200.0|
|   S002|                          2200.0|
|   S001|                         17000.0|
+-------+--------------------------------+